header {
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 0 0.75rem;
  height: 4rem;
  border-bottom: 1px solid rgb(218, 220, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.logo {
  color: var(--dark-color);
  font-size: 1.75rem;
  cursor: pointer;
}

.search-query {
  margin-bottom: 2rem;
  margin-top: -1rem;
  font-size: 14px;
  color: var(--dark-color);
}

.search-form {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.1s;
  display: flex;
  align-items: center;
  position: relative;
}

.search-form:hover {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.669);
}

.search-input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 24px;
  font-size: 14px;
  color: var(--dark-color);
  background-color: transparent;
}

.search-input:focus {
  outline: none;
}

.search-input:placeholder {
  color: rgb(218, 220, 224);
}

.search-submit-btn {
  border: none;
  background-color: transparent;
  border-radius: 24px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.1s;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-submit-btn:focus {
  outline: none;
}

.search-submit-btn:hover {
  opacity: 0.75;
}
