.scroll-top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.1s;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top-btn:hover {
  transform: scale(1.05);
}

.scroll-top-btn p {
  font-size: 2rem;
  margin-bottom: -0.4rem;
}
