:root {
  --dark-color: #2d3142;
  --light-color: #f5f5f5;
  --font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
    "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--light-color);
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

@media (max-width: 764px) {
  header {
    justify-content: space-between;
  }

  .search-form {
    width: 200px;
  }
}
